{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}

{% block heading %}
<h1 class="readme">Save your Mistakes</h1>
{% endblock %}
<div class="subjectButtons">
        <a type="button" href="/english" id="req" class="btn btn-dark">English</a>
        <a type="button" href="/hindi" class="btn btn-dark">Hindi</a>
        <a type="button" href="/math" class="btn btn-dark">Math</a>
        <a type="button" href="/Science" class="btn btn-dark">Science</a>
        <a type="button" href="/sst" class="btn btn-dark">SST</a>
        <a type="button" href="/it" class="btn btn-dark">IT</a>
    </div>
{% endblock %}