{% extends 'base.html' %} {% block title %} {{ subject }} {% endblock %} {% block content %}

<h1 class="main">Submit your Mistakes from {{ subject.capitalize() }}</h1>
<form action="/success" method="POST" class="form">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Thinking Level</label>
        <select class="form-control" name='select' id="exampleFormControlSelect1">
            <option>Level 1 🤓</option>
            <option>Level 2 🧐</option>
            <option>Level 3 🤨</option>
            <option>Level 4 😕</option>
            <option>Level 5 😑</option>
          </select>
    </div>
    <div class="form-group">
        <label class="textarea" for="exampleFormControlTextarea1">Weakness</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="weakness" rows="3"></textarea>
    </div>
    <input type="submit" value="submit" class="btn btn-dark">
    {% endblock %}